<section class="section-experience">
  <div class="container">
    <div class="ex-left">
      <img src="assets/images/home/experiance-1.png" alt="">
    </div>
    <div class="ex-right">
      <div class="ex-right-title title">GET A UNIQUE <br> EXPERIENCE</div>
      <div class="ex-right-subtitle subtitle">~ I cook for you ~</div>
      <div class="ex-right-text text">Hosting a dinner party doesn't require you to cook all day in the kitchen. It is enough
        to call my team and me, and we will organize the most delicious and unusual evening for you and your guests. I,
        as an experienced chef, will take care of all the menu planning and preparation of all dishes.
      </div>
      <div class="details">
        <details class="right-details">
          <summary class="right-summary">
            CONSULTATION
          </summary>
          Contact me to discuss your special occasion, your food preferences, the number of guests, and to schedule a
          time.
        </details>
        <details class="right-details">
          <summary class="right-summary">
            THE MEAL
          </summary>
          I prepare all dishes from only the freshest, handpicked ingredients using healthy cooking techniques. The
          meals
          are based on our agreed menu. I will also recommend you drink pairings for each meal.
        </details>
        <details class="right-details">
          <summary class="right-summary">
            THE SERVICE
          </summary>
          I will arrive at your location one hour prior to serving food and will bring any additional equipment. When
          the
          food is cooked, I will serve you and your guests with each course. After your dinner is completed, I will
          clean-up your kitchen. All you need is to enjoy your evening!
        </details>
      </div>
      <img src="assets/images/home/experiance-2.png" alt="">
    </div>
  </div>
</section>
