<section class="section-contacts">
  <div class="container">
    <div class="contacts-title">CONTACTS</div>
    <div class="wrapper">
      <div class="contact-left-wrapper">
        <div class="contact-title title">INVITE ME TO YOUR EVENT</div>
        <div class="contact-subtitle subtitle">~ Sign up ~</div>
        <div class="contact-text">Hosting a dinner party doesn't require you to cook all day in the kitchen. It is
          enough
          to call me and my team, and we will organize the most delicious and unusual evening for you and your guests.
          I,
          as an experienced chef, will take care of all the menu planning and preparation of all dishes.</div>
        <div class="contact-info">
          <div class="info-card">
            <div class="info-ring">01</div>
            <div class="info-content">
              <p class="info-content-title title">WRITE ME</p>
              <p class="info-content-text">Contact me to discuss your special occasion and food preferences.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-ring">02</div>
            <div class="info-content">
              <p class="info-content-title title">DISCUSS THE MENU</p>
              <p class="info-content-text">I prepare an individual menu, and you can do any changes to it.</p>
            </div>
          </div>
          <div class="info-card">
            <div class="info-ring">03</div>
            <div class="info-content">
              <p class="info-content-title title">TRY DELICIOUS DISHES</p>
              <p class="info-content-text">Get a new culinary experience and surprise your guests.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-right-wrapper"></div>
    </div>
  </div>
</section>
