@import "/src/scss/variable";
@import "/src/scss/media";
@import "/src/scss/fonts";
.section-footer{
  padding: 50px 0;
}
.container{
  display: flex;
  justify-content: space-around;
  padding: 50px;
  border-top: solid 1px $border-color;
  border-bottom: solid 1px $border-color;
  text-align: center;
  flex-wrap: wrap;
  gap: 50px;
}
.list{
  flex-direction: column;
  padding: 0;
}
.item-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 140px;
    height: 80px;
  }
}
.card-text{
  padding: 10px 0;
}
.item-social{
  justify-content: center;
  margin-top: 20px;
}
.footer-navigation, .footer-contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
