<section class="section-footer">
  <footer class="footer">
    <div class="container">
      <div class="footer-contact">
        <div class="footer-title card-title">CONTACTS</div>
        <div class="border"></div>
        <p class="card-text">Based in Brooklyn, New York</p>
        <p class="card-text">+1 (234) 567 89 00</p>
        <p class="card-text">chefgrape@email.com</p>
      </div>
      <div class="footer-icon">
        <div class="item-logo"><img src="assets/images/header/logo.svg" alt="logo cake"></div>
        <p class="card-text">Exceptional culinary experience!</p>
        <div class="footer-link">
          <div class="item-social">
            <a href="#"><img src="assets/icon/header/facebook.png" alt="facebook"></a>
            <a href="#"><img src="assets/icon/header/instagram.png" alt="instagram"></a>
            <a href="#"><img src="assets/icon/header/twitter.png" alt="twitter"></a>
            <a href="#"><img src="assets/icon/header/youtube.png" alt="youtube"></a>
          </div>
        </div>
      </div>
      <div class="footer-navigation">
        <div class="footer-title card-title">NAVIGATION</div>
        <div class="border"></div>
        <nav class="nav">
          <ul class="list">
            <li class="link" [routerLink]="['/about-us']">About Chef</li>
            <li class="link" [routerLink]="['/home']">Home</li>
            <li class="link" [routerLink]="['/contacts']">Contacts</li>
          </ul>
        </nav>
      </div>
    </div>
  </footer>
</section>
