<section class="section-gallery">
  <div class="container">
    <div class="gallery-title title">INSTAGRAM GALLERY </div>
    <div class="gallery-subtitle subtitle">~ My latest works ~</div>
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <div class="item-img"><img src="assets/images/home/gallery-instagram-1.png" alt=""></div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/images/home/gallery-instagram-2.png" alt=""></div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/images/home/gallery-instagram-3.png" alt=""></div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/images/home/gallery-instagram-4.png" alt=""></div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/images/home/gallery-instagram-5.png" alt=""></div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/images/home/gallery-instagram-6.png" alt=""></div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev><img src="assets/icon/review/left-arrow.png" alt=""></button>
        <button type="button" class="next" appNext><img src="assets/icon/review/right-arrow.png" alt=""></button>
      </div>
    </div>
  </div>
</section>
