@import "/src/scss/variable";
@import "/src/scss/media";
@import "/src/scss/fonts";

.section-home {
  .home-title {
    padding: 65px 0 40px;
    text-align: center;

    h1 {
      margin-bottom: 15px;
    }
  }

  .home-content {
    padding-bottom: 65px;
    display: flex;
    justify-content: center;
    gap: 30px;
    align-items: center;
    flex-wrap: wrap;
  }

  .content-item {
    max-width: 350px;
  }

  .info-item {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
    &:nth-child(2) {
      flex-direction: column;
    }
  }
  .info-item-content{
    max-width: 420px;
    text-align: center;
  }
  .info-item-title{
    max-width: 770px;
  }
}
