<section class="section-about-us">
  <main class="main">
    <div class="container">
      <div class="about-us-title">ABOUT CHEF</div>
      <div class="about-us-info-container">
        <div class="info-left-wrapper">
          <div class="info-images"><img src="assets/images/about-chef/chef.png" alt=""></div>
          <p><span>— ㅤ</span>Together with my team, I create real culinary masterpieces available to everyone. Touch the haute cuisine in a modern design with me!</p>
        </div>
        <div class="info-content">
          <div class="content-title title">A FEW WORDS ABOUT ME</div>
          <div class="content-subtitle subtitle">~ Biography ~</div>
          <div class="content-text">
            I have a passion for cooking from my early childhood while growing up in Italy. I just loved to prepare and
            taste food with my mom in our small family kitchen. When I was a teen, I worked up at local restaurants.
            <br>
            <br>
            Now I can boast 20 years of experience working as a chef at a top-rated restaurants in different cities in
            Europe and the USA. I have extensive expertise in professional catering events of any size, from birthday
            parties and baby showers to luxury weddings, corporate and galas.
            <br>
            <br>
            In 2001, I moved to New York to work in top restaurants. Since then, I have been serving private residences
            and many other venues with gourmet show-stopping food prepared with love. I always use only the freshest
            seasonal products purchased on the local markets.
          </div>
          <div class="content-images"><img src="assets/images/about-chef/images-1.png" alt=""></div>
        </div>
      </div>
    </div>
  </main>
</section>
<section class="section-awards">
  <div class="container">
    <div class="awards-title title">EDUCARION AND AWARDS</div>
    <div class="awards-subtitle subtitle">~ Numbers ~</div>
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <div class="item-title">1999</div>
          <div class="item-border border"></div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-info">
            <p><span>~ ㅤ</span> Cold</p>
            <p><span>~ ㅤ</span> Italian</p>
            <p><span>~ ㅤ</span> Food</p>
          </div>
        </div>
        <div class="item">
          <div class="item-title">2000</div>
          <div class="item-border border"></div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-info">
            <p><span>~ ㅤ</span>Cook</p>
            <p><span>~ ㅤ</span>From</p>
            <p><span>~ ㅤ</span>Spain</p>
          </div>
        </div>
        <div class="item">
          <div class="item-title">2001</div>
          <div class="item-border border"></div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-info">
            <p><span>~ ㅤ</span> Move</p>
            <p><span>~ ㅤ</span> To</p>
            <p><span>~ ㅤ</span> New York</p>
          </div>
        </div>
        <div class="item">
          <div class="item-title">2015</div>
          <div class="item-border border"></div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-info">
            <p><span>~ ㅤ</span>Open</p>
            <p><span>~ ㅤ</span>World</p>
            <p><span>~ ㅤ</span>Awards</p>
          </div>
        </div>
        <div class="item">
          <div class="item-title">2023</div>
          <div class="item-border border"></div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-info">
            <p><span>~ ㅤ</span>Services</p>
            <p><span>~ ㅤ</span>Book</p>
            <p><span>~ ㅤ</span>Michelin</p>
          </div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev><img src="assets/icon/review/left-arrow.png" alt=""></button>
        <button type="button" class="next" appNext><img src="assets/icon/review/right-arrow.png" alt=""></button>
      </div>
    </div>
  </div>
</section>
<section class="section-team">
  <div class="container">
    <div class="team-title title">MY PROFESSIONAL TEAM</div>
    <div class="team-subtitle subtitle">~ People ~</div>
    <div class="team-container">
      <div class="team-card">
        <img src="assets/images/about-chef/team-1.png" alt="">
        <p class="text">Sous-chef</p>
        <p class="title">ALBERTO FONDO</p>
      </div>
      <div class="team-card">
        <img src="assets/images/about-chef/team-2.png" alt="">
        <p class="text">Sous-chef</p>
        <p class="title">TINO MORINO</p>
      </div>
      <div class="team-card">
        <img src="assets/images/about-chef/team-3.png" alt="">
        <p class="text">Station Chef</p>
        <p class="title">DIEGO TORTINI</p>
      </div>
      <div class="team-card">
        <img src="assets/images/about-chef/team-4.png" alt="">
        <p class="text">Junior Chef</p>
        <p class="title">AMANDA TAYLOR</p>
      </div>
    </div>
  </div>
</section>
