<section class="section-reviews">
  <div class="container">
    <div class="reviews-title title">WHAT MY CLIENTS SAY </div>
    <div class="reviews-subtitle subtitle">~ Guestbook ~</div>
    <div class="slider-wrap">
      <div class="slider-main">
        <div class="item">
          <div class="item-img"><img src="assets/icon/review/double-quotes.png" alt=""></div>
          <div class="item-title">Jennifer S. - Miami, FL</div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-date">November 13, 2022</div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/icon/review/double-quotes.png" alt=""></div>
          <div class="item-title">John V. - Brooklyn, NY</div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-date">October 28, 2021</div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/icon/review/double-quotes.png" alt=""></div>
          <div class="item-title">Tina T. - Navarre, FL</div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-date">March 03, 2022</div>
        </div>
        <div class="item">
          <div class="item-img"><img src="assets/icon/review/double-quotes.png" alt=""></div>
          <div class="item-title">Mila F. - Miami, FL</div>
          <div class="item-text">"I have no words to describe my satisfaction with chef Grape and the dinner! He is a true professional who loves what he does. Anthony has managed to exceed our expectations! He has prepared us a 3-course meal. It was eye-catching and extremely delicious. The whole experience from start to finish was excellent!"</div>
          <div class="item-date">November 28, 2021</div>
        </div>
      </div>
      <div class="button-area">
        <button type="button" class="prev" appPrev><img src="assets/icon/review/left-arrow.png" alt=""></button>
        <button type="button" class="next" appNext><img src="assets/icon/review/right-arrow.png" alt=""></button>
      </div>
    </div>
  </div>
</section>
