<section class="section-menu">
  <main class="main">
    <div class="container">
      <div class="menu-title title">COOKING DIRECTIONS</div>
      <div class="menu-subtitle subtitle">~ Cuisine ~</div>
      <div class="menu-card-container">
        <div class="menu-card">
          <div class="menu-card-images"><img src="assets/images/about-chef/direction-1.png" alt=""></div>
          <div class="menu-card-info">
            <div class="menu-info-title title">ITALIAN CUISINE</div>
            <div class="border"></div>
            <div class="menu-info-text">No one better than a true Italian will introduce you to real Italian cuisine. I invite you to join me on a culinary journey through the finest Italian dishes. The list of dishes below and prices are approximate. Please contact me to discuss your menu.</div>
            <div class="menu-info-content">
              <div class="menu-item">
                <div class="item-title">
                  <p>ENTREES</p>
                  <div class="decoration"></div>
                  <p>from <span> $20</span></p>
                </div>
                <div class="item-text">Bruschetta, Antipasti, Caponata, Meat Balls, Tuscan Truffles</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>SIDES
                  </p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Caprese Salad, Stuffed Tomatoes, Pickled Eggplant, Artichokes</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>MAIN COURSES</p>
                  <div class="decoration"></div>
                  <p>from <span> $60</span></p>
                </div>
                <div class="item-text">Pesto pasta, Cioppino, Three-Cheese Lasagna, Beef Brasato</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>DESSERTS</p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Canestrelli, Lemon Ricotta Cake, Tiramisu, Panna Cotta</div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-card">
          <div class="menu-card-images"><img src="assets/images/about-chef/direction-2.png" alt=""></div>
          <div class="menu-card-info">
            <div class="menu-info-title title">ORIENTAL CUISINE</div>
            <div class="border"></div>
            <div class="menu-info-text">Working in restaurants in New York, I noticed how the locals love oriental cuisine. In my recipes, I give Korean, Chinese, and Japanese dishes a more European touch, still keeping the oriental core in every dish offered to my clients.</div>
            <div class="menu-info-content">
              <div class="menu-item">
                <div class="item-title">
                  <p>ENTREES</p>
                  <div class="decoration"></div>
                  <p>from <span> $40</span></p>
                </div>
                <div class="item-text">Spring Rolls, Butter Garlic Prawns, Baby Corn Fritters, Lollipops</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>SIDES
                  </p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Garlic Broccoli Stir Fry, Saffron Rice, Scallion Pancakes, Coconut Rice</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>MAIN COURSES</p>
                  <div class="decoration"></div>
                  <p>from <span> $70</span></p>
                </div>
                <div class="item-text">Beef Galbi, Chicken Lo Mein, Honey Sriracha Chicken, Nem Nuong</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>DESSERTS</p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Almond Jelly, Mango Pudding, Nyonya Pineapple Tarts, Dessert Balls</div>
              </div>
            </div>
          </div>
        </div>
        <div class="menu-card">
          <div class="menu-card-images"><img src="assets/images/about-chef/direction-3.png" alt=""></div>
          <div class="menu-card-info">
            <div class="menu-info-title title">FRENCH CUISINE</div>
            <div class="border"></div>
            <div class="menu-info-text">I really love French cuisine for its sophistication and delicate flavor combinations. French cuisine is perfect for a romantic evening or a private event for several people. I am ready to offer you a carefully crafted menu and traditional French desserts.</div>
            <div class="menu-info-content">
              <div class="menu-item">
                <div class="item-title">
                  <p>ENTREES</p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Lyonnaise Salad, Onion Galette, Pissaladiere, Cheese Souffle</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>SIDES
                  </p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Baked Brie, Spinach Au Gratin, French Peas, Scalloped Potatoes</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>MAIN COURSES</p>
                  <div class="decoration"></div>
                  <p>from <span> $30</span></p>
                </div>
                <div class="item-text">Chicken confit, Quiche Lorraine, Boeuf bourguignon, Duck à l'Orange</div>
              </div>
              <div class="menu-item">
                <div class="item-title">
                  <p>DESSERTS</p>
                  <div class="decoration"></div>
                  <p>from <span> $20</span></p>
                </div>
                <div class="item-text">Macarons, Crème Brûlée, Paris-Brest, Mille-Feuille, Tatin Cake</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</section>
